NEXT_PUBLIC_TMDB_API_KEY=3612424914543b0f4b20e36cfae9949e
NEXT_PUBLIC_SUPABASE_URL=https://togsjkluejgicktffulq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvZ3Nqa2x1ZWpnaWNrdGZmdWxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NDI0MzMsImV4cCI6MjA5NTIxODQzM30.4DKmR6Y-koDYZzmOGrkZVcOH7eH2C_NUBq_NYeNGCB0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvZ3Nqa2x1ZWpnaWNrdGZmdWxxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTY0MjQzMywiZXhwIjoyMDk1MjE4NDMzfQ.7w-Z9RcnIPl-13b5xXsS28jvhQKTdXBERBOOB1VJBdc
CACHE_REBUILD_SECRET=lumiere2026
